.ci-reports
.cache
.ci-temp*
.classpath
.deployables
.DS_Store?
.git
.idea
.vscode
.project
.pydevproject
.sass-cache
.settings
.svn
.Spotlight-V100
.Trashes
.vagrant
*.7z
*.class
*.com
*.dll
*.dmg
*.DS_Store
*.ear
*.ejb
*.exe
*.gz
*.iml
*.iso
*.jar
*.lock
*.log
*.orig
*.par
*.pyc
*.pyo
*.rar
*.tar
*.tmp
*.war
*.zip
__pycache__
_svn
ehthumbs.db
logs
libs
node_modules 
unit-test-coverage-report
screenshots
target
**/ShaapiClientRunner.java
Thumbs.db
work
.qodo
